main{
    padding: 20px;
}
main{
    background: #ddd url(../img/fondo4.jpg)center no-repeat ;
    background-size: cover;
    padding: 20px;
    height: auto;
}
.contacto-form{
    background-color: #C22727;
    width: 80%;   
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 1px dashed white;
}
.contacto{
    background-color: #C22727;
    width: 80%;   
    margin: 20px auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    border: 1px dashed white;
}

h1{
    background-color: #C22727;
    border-radius: 20px;
    text-align: center;
    color: white;
}

main form label{
    color:white ;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.input-group{
    text-align: center;
    padding: 3px;
}

main button{
    text-align: center;
    display: block;
    margin: 15px auto;
    height: 40px;
    width: 30%;
    background-color: white;
    color: #130f40;
    font-size: 15px;
    border-radius: 5px;
}

main input, textarea{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #E6AA02;
}

main input:focus, textarea:focus{
    background-color: #dec174;
}

.reponsive{
    width: 100%;
    overflow: auto;
}

input:valid{
    border: 3px solid green;
}

input:invalid{
    border: 3px solid red;
}