section img{
    width: 200px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: auto;
   
}
main{
    height: auto;
    background: #FEFEFA url(../img/fondo1.jpg) center no-repeat ;
    background-size: cover;
    text-align: center;
    padding:25px ;
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: overline wavy;
    margin-top: 15px;

}

main .section-cards-body { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-cards-header h1{
    color: white;
    margin-bottom: 40px;
}

.card{
    width: 250px;
    background-color: #c22727;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;
}

.info-visible{
    padding: 15px;
    position: relative;
    z-index: 2;
}

.btn-carrito{
    display: inline-block;
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 370px; 
    background-color: rgba(0,0,0,.9);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: .4s;
    overflow-y: auto;
}

.card:hover .info{
    opacity: 0.8;
}