section img{
    width: 200px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 55px;
   
}
main{
    height: auto;
    background: #FEFEFA url(../img/fondo1.jpg) center no-repeat ;
    background-size: cover;
    text-align: center;
    padding:25px ;
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: overline wavy;
    margin-top: 15px;

}

main .section-cards-body { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-cards-header h1{
    color: white;
    margin-bottom: 40px;
}


.card{
    width: 250px;
    background-color: rgba(194,39,39,.85);
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: white;

    position: relative;
    overflow: hidden;
}


.info{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    background-color: rgba(0,0,0,.9);
    opacity: 0;
    transform: translateY(100%);
    transition: .5s;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}


.card:hover .info{

    opacity: 1;
    transform: translateY(0);

}