section img{
    width: 150px;
   
}
main{
    height: auto;
    background: #FEFEFA url(../img/fondo1.jpg) center no-repeat ;
    background-size: cover;
    text-align: center;
    padding:25px ;
}

section{
    border: 1px dashed white;
    width: 250px;
    height: auto;
    padding: 5px;
    margin: 5px;
    background-color: #C22727;
    color: white;
    border-radius:20px;
}
section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: overline wavy;

}

main .section-cards-body { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-cards-header h1{
    color: white;
    margin-bottom: 40px;
}
/* section p {
    /* text-align: left; */
